.basket-indicator{
    position: fixed;
    right: 32px; 
    top: 128px;
    z-index: 1;
}

.basket-indicator-count{
    font-family: 'Styrene UI', Arial,sans-serif;
    font-feature-settings: 'ss01';
    font-size: 24px;
    font-weight: 400;
}