@font-face {
    font-family: 'Styrene UI';
    src: local('Styrene UI'), url(./assets/fonts/StyreneAWeb-Medium.woff) format('woff');
  }

  @font-face {
    font-family: 'Styrene UI bold' ;
    src: local('Styrene UI'), url(./assets/fonts/StyreneAWeb-Bold.woff) format('woff');
  }

  @font-face {
    font-family: 'Styrene UI black';
    src: local('Styrene UI'), url(./assets/fonts/StyreneAWeb-Black.woff) format('woff');
  }