.product-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 400px));
    gap: 8px;
}

.products-h{
    font-family: 'Styrene UI', Arial,sans-serif;
    font-feature-settings: 'ss01';
}

.products-h-title{
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -2.5px;
    line-height: 88px; 
    color:rgb(239, 49, 36);
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.products-head{
    margin-bottom: 40px;
}

.products-h-subtitle{
    font-size: 20px;
    font-weight: 400;
}

.products-wrapper{
    margin: 64px 264px;
}

.products-wrapper-h{
    font-family: 'Styrene UI', Arial,sans-serif;;
    font-feature-settings: 'ss01';
}

.products-wrapper-h-title{
    font-family: 'Styrene UI black', Arial,sans-serif;
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -2.5px;
    line-height: 88px;  
    margin-bottom: 0px;
}

.products-wrapper-h-subtitle{
    font-size: 20px;
    font-weight: 400;
    white-space: pre-line;
}

.products-wrapper-head{
    margin-bottom: 100px;
}

.products-list-card{
    display: grid;
    grid-template-rows: repeat;
    gap: 150px;
}

.product-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Styrene UI', Arial,sans-serif;
    font-feature-settings: 'ss01';
    color: black;
}

.product-text > p{
    padding: 0;
    margin: 5px 0;
}

.product-card{
    height: 500px;
}

.product-img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.product-text-subtitle{
    color: #8c8c8c;
    font-size: 12px;
}

.product-text-description{
    color: #000000;
    font-size: 12px;
    width: 500px;
}

.product-text-label{
    color: #000000;
    font-size: 12px;
    width: 500px;
    margin: 0;
}