.basket{
    margin: 64px 264px;
}

.title{
    font-family: 'Styrene UI', Arial,sans-serif;
    font-style: italic;
    font-feature-settings: 'ss01';
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
}

.basket-colums{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap:80px;
    align-items: flex-start;
}

.basket-result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.basket-result>*:first-child {
    align-self: stretch;
}



.basket-sum > p {
    font-family: 'Styrene UI', Arial,sans-serif;
    font-feature-settings: 'ss01';
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.basket-sum-total{
    margin-top: 20px !important;
    font-size: 20px !important; 
}

.recipient-info{
    margin-top: 32px;
}