.product-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 32px 0;
    gap: 50px;
}

.galery{
    display: grid;
    grid-template-rows: 700px 256px;
    gap:16px;
    justify-content: end;
}

.galery-main{
    height: 700px;
    width: 600px;
    object-fit: cover;
}

.galery-thumbnails{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 64px));
    gap:4px;
}

.galery-thumbnail{
    width: 64px;
    height: 64px;
    object-fit: cover; 
}

.galery-thumbnail:hover {
    opacity: 0.9;
    cursor: pointer;
}