.navigation {
background-color: black;
height: 100%;
padding: 16px 32px;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.navigation-text {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Styrene UI black', Arial,sans-serif;
    margin: 0;
    color: #ffffff;
    padding-bottom: 1rem;
}

.navigation-text-addit {
    font-size: 13px;
    font-weight: 300;
    font-family: 'Styrene UI', Arial,sans-serif;
}

.navigation-link{
    color: black;
    padding-left: 8px;
}

#close{
    display: flex;
    justify-content: flex-end;
}