.item-grid{
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr 1fr;
    gap:40px;
    justify-items: start;
}

.item-thumbnail{
    width: 100px;
    height: 100px;
    object-fit: cover; 
}

.item{
    margin: 50px 0;
}

.item-text > p, .item-text{
    font-family: 'Styrene UI', Arial,sans-serif;
    font-feature-settings: 'ss01';
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(105, 105, 105);
}

.item-h{
    font-family: 'Styrene UI', Arial,sans-serif;
    font-feature-settings: 'ss01';
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.item-count{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    justify-items: center; 
}