.menu-img {
    width: 100%;

}

.menu-text{
    position: relative;
    top: -93%;
    left: 0px;
    padding: 0 32px;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: 'Styrene UI bold', Arial, sans-serif;
    margin: 0;
    color: black;
}

.menu-card:hover {
    opacity: 0.9;
}