header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    z-index: 1;
    height: 60px;
}

.header_text{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: 'Styrene UI bold', Arial,sans-serif;
    margin: 0;
    line-height: 26px;
}

.header_text_red{
    color:rgb(239, 49, 36);
}

.header_text_black{
    color: black;
}

.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}