.contacts{
    margin: 64px 264px;
}

.contacts-grid{
    display: grid;
    grid-template-rows: repeat(auto-fill);
    gap:1px;
    justify-items: start;
}

.contacts-title{
    font-family: 'Styrene UI black', Arial,sans-serif;
    font-feature-settings: 'ss01';
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -2.5px;
    line-height: 88px;  
    margin-bottom: 100px;
}

.contacts-text > h4{
    font-family: 'Styrene UI', Arial,sans-serif;;
    font-feature-settings: 'ss01';
    font-size: 16px;
    font-weight: 400 !important;
    white-space: pre-line;
}